@media (min-width: 35em) {
  .aboutus {
    padding-block: 5.6rem;
    & > div {
      & > div:nth-of-type(1) {
        text-align: center;
        margin-bottom: 10rem;
        width: 60rem;
        margin-inline: auto;
        h6 {
          color: var(--dark);
          opacity: 0.7;
        }
        h2 {
          margin-top: 1.6rem;
          margin-bottom: 3.2rem;
        }
      }
      & > div:nth-of-type(2) {
        display: flex;
        gap: 5.6rem;
        transition: 2s;
        & > div {
          flex: 25rem 1 1;
          border-radius: 2.4rem;
          box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
          & > div:nth-of-type(1) {
            height: 25rem;
          }

          & > div:nth-of-type(2) {
            padding: 4rem;
            h3 {
              color: var(--dark);
              margin-bottom: 2.4rem;
            }
          }
        }
      }
    }
  }
}







@media (max-width: 35em) {
  .aboutus {
    padding-block: 5.6rem;
    padding-inline: 2.4rem;
    & > div {
      & > div:nth-of-type(1) {
        margin-bottom: 10rem;
        h6 {
          color: var(--dark);
          opacity: 0.7;
        }
        h2 {
          margin-top: 1.6rem;
          margin-bottom: 3.2rem;
        }
      }
      & > div:nth-of-type(2) {
        padding: 2.4rem;
        & > div {
          border-radius: 2.4rem;
          box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
          margin-bottom: 4rem;
          & > div:nth-of-type(1) {
            height: 25rem;
          }

          & > div:nth-of-type(2) {
            padding: 4rem;
            h3 {
              color: var(--dark);
              margin-bottom: 2.4rem;
            }
          }
        }
      }
    }
  }
}
