@media (min-width: 35em) {
  .contactus {
    & > div:nth-of-type(1) {
      display: flex;
      margin-block: 10rem;
      position: relative;
      & > div {
        flex-basis: 10rem;
      }
      & > div:nth-of-type(1) {
        flex-grow: 2;
        & > div {
          background-color: #20282d;
          color: white;
          position: absolute;
          height: 35rem;
          width: 40rem;
          z-index: 2;
          border-radius: 2.4rem;
          top: 50%;
          transform: translateY(-50%);
          padding: 3.2rem;
          & > ul > li > div {
            display: flex;
            color: white;
            p {
              color: white;
              opacity: 0.7;
              font-size: 1.6rem;
            }

            margin-bottom: 3.2rem;
            gap: 1.6rem;

            & > div:nth-of-type(1) {
              width: 6rem;
              height: 6rem;
              background-color: white;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            svg {
              font-size: 2rem;
              color: #20282d;
            }
          }
        }
      }
      & > div:nth-of-type(2) {
        flex-grow: 6;
        height: 50rem;
        border-radius: 3.2rem;
      }
      & > div:nth-of-type(3) {
        flex-grow: 2;
        & > div {
          background-color: white;
          box-shadow: 0 0 4.3rem rgba(0, 0, 0, 0.2);
          color: white;
          position: absolute;
          height: 35rem;
          right: 6.4rem;
          width: 40rem;
          z-index: 2;
          border-radius: 2.4rem;
          top: 50%;
          transform: translateY(-50%);
          padding-inline: 4rem;
          padding-block: 2rem;

          h3 {
            margin-bottom: 1.6rem;
          }

          .input-control {
            margin-bottom: 1.2rem;
            input {
              padding: 0.8rem;
              border: solid 0.1rem #ccc;
              border-radius: 0.8rem;
              width: 100%;
              height: 3rem;
              outline: none;
            }
            textarea {
              height: 6rem;
              width: 100%;
              outline: none;
              border: solid 0.1rem #ccc;
              padding: 0.8rem;
            }
          }
        }
      }
    }

    & > div:nth-of-type(2) {
      margin-block: 10rem;
    }

    .error-message {
      color: red;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 35em) {
  .contactus {
    padding: 2.4rem;
    & > div:nth-of-type(1) {
      margin-block: 10rem;

      & > div:nth-of-type(1) {
        & > div {
          background-color: #20282d;
          color: white;
          z-index: 2;
          border-radius: 2.4rem;
          top: 50%;
          padding: 3.2rem;
          & > ul > li > div {
            display: flex;
            color: white;
            p {
              color: white;
              opacity: 0.7;
              font-size: 1.6rem;
            }

            margin-bottom: 3.2rem;
            gap: 1.6rem;

            & > div:nth-of-type(1) {
              width: 6rem;
              height: 6rem;
              background-color: white;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            svg {
              font-size: 2rem;
              color: #20282d;
            }
          }
        }
      }
      & > div:nth-of-type(2) {
        height: 30rem;
        border-radius: 3.2rem;
        margin-block: 2.4rem;
      }
      & > div:nth-of-type(3) {
        & > div {
          background-color: white;
          box-shadow: 0 0 4.3rem rgba(0, 0, 0, 0.2);
          color: white;

          border-radius: 2.4rem;

          padding-inline: 4rem;
          padding-block: 2rem;

          h3 {
            margin-bottom: 1.6rem;
          }

          .input-control {
            margin-bottom: 1.2rem;
            input {
              padding: 0.8rem;
              border: solid 0.1rem #ccc;
              border-radius: 0.8rem;
              width: 100%;
              height: 3rem;
              outline: none;
            }
            textarea {
              height: 6rem;
              width: 100%;
              outline: none;
              border: solid 0.1rem #ccc;
              padding: 0.8rem;
            }
          }
        }
      }
    }

    & > div:nth-of-type(2) {
      margin-block: 10rem;
    }

    .error-message {
      color: red;
      font-size: 1.2rem;
    }
  }
}
