@media (min-width: 35em) {
  .hero {
    height: 60rem;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    & > div {
      width: 70rem;
      height: 70rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(197, 193, 246, 0.7);
      & > div {
        width: 50rem;
        height: 50rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(140, 131, 250, 0.7);
        padding: 4rem;
        & > div {
          text-align: center;
          color: white;

          h1 {
            margin-top: 1.2rem;
            margin-bottom: 2.4rem;
            color: white;
            line-height: 5.6rem;
            font-weight: 900;
          }

          p {
            color: white !important;
          }

          a {
            display: block;
            background-color: white;
            width: max-content;
            border-radius: 2.4rem;
            padding-inline: 2.4rem;
            padding-block: 0.8rem;
            margin-inline: auto;
            color: var(--medium);
            margin-top: 4rem;
            &:hover {
              background-color: var(--medium);
              color: white;
            }
          }
        }
      }
    }
  }
}






@media (max-width: 35em) {
  .hero {
    height: 60rem;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 3.2rem;
    & > div {
      width: 70rem;
      height: 70rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(197, 193, 246, 0.7);
      & > div {
        width: 50rem;
        height: 50rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(140, 131, 250, 0.7);
        padding: 8rem;
        & > div {
          text-align: center;
          color: white;

          h1 {
            margin-top: 1.2rem;
            margin-bottom: 2.4rem;
            color: white;
            line-height: 5.6rem;
            font-weight: 900;
          }

          p {
            color: white !important;
          }

          a {
            display: block;
            background-color: white;
            width: max-content;
            border-radius: 2.4rem;
            padding-inline: 2.4rem;
            padding-block: 0.8rem;
            margin-inline: auto;
            color: var(--medium);
            margin-top: 4rem;
            &:hover {
              background-color: var(--medium);
              color: white;
            }
          }
        }
      }
    }
  }
}
