.active {
  color: var(--medium) !important;
}

@media (min-width: 35em) {
  nav {
    box-shadow: 1.2rem 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: white;
    .container {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;
        gap: 3.2rem;
        & > li {
          a {
            color: var(--black);
          }
        }
      }
    }

    .overlay,
    .get-in-touch,
    .hamburger {
      display: none;
    }
  }
}

@media (max-width: 35em) {
  nav {
    padding: 2.4rem;
    box-shadow: 1.2rem 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: white;
    .container {
      top: 0;
      left: -100%;
      background-color: white;
      position: fixed;
      z-index: 11;
      height: 100vh;
      width: 80%;
      padding: 2.4rem;
      & > ul {
        margin-top: 8rem;
        margin-bottom: 10.4rem;
        & > li {
          margin-top: 3.2rem;
          a {
            color: var(--black);
          }
        }
      }
    }

    .get-in-touch {
      box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.2);
      padding: 1.6rem;
      border-radius: 1.6rem;
      h3 {
        margin-bottom: 1.6rem;
      }
      ul {
        li {
          margin-bottom: 0.8rem;
          display: flex;
          gap: 0.8rem;
          align-items: center;
        }
      }
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.2);
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      z-index: 10;
    }
    .hamburger {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .overlay.hide {
      left: -100%;
      transition: 0.2s;
    }
    .navbar.hide {
      left: -100%;
      transition: 0.2s;
    }

    .overlay.show {
      left: 0;
      transition: 0.2s;
    }
    .navbar.show {
      left: 0;
      transition: 0.2s;
    }
  }
}
