@media (min-width: 35em) {
  .portfolio {
    background-color: var(--dark);
    padding-block: 6.4rem;
    color: white;
    margin-block: 6.4rem;
    border-radius: 2.4rem;
    & > div:nth-of-type(1) {
      margin-inline: auto;
      width: 70rem;
      text-align: center;
      h2 {
        color: white;
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
      }
      p {
        color: white;
      }
    }
    & > div:nth-of-type(2) {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      margin-top: 8rem;
      padding-inline: 8rem;
      & > div {
        flex: 10rem 1 1;
      }

      & > div {
        position: relative;
        & > div:nth-of-type(1) {
          height: 25rem;
          border-radius: 1.6rem;
        }
        & > div:nth-of-type(2) {
          position: absolute;
          background-color: var(--dark);
          bottom: 0;
          right: 0;
          height: 10rem;
          width: 80%;
          border-top-left-radius: 1.6rem;
          padding: 2.4rem;
          h6 {
            color: white !important;
          }
        }
      }
    }
  }
}




@media (max-width: 35em) {
  .portfolio {
    background-color: var(--dark);
    padding: 2.4rem;
    color: white;
    margin-block: 6.4rem;
    margin-inline: 2.4rem;
    border-radius: 2.4rem;
    & > div:nth-of-type(1) {
      margin-inline: auto;
      text-align: center;
      h2 {
        color: white;
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
      }
      p {
        color: white;
      }
    }
    & > div:nth-of-type(2) {
      display: flex;
      flex-wrap: wrap;
      gap: 2.4rem;
      margin-top: 8rem;
      padding: 2.4rem;
  
      & > div {
        flex: 10rem 1 1;
      }

      & > div {
        position: relative;
            margin-bottom: 8rem;
        & > div:nth-of-type(1) {
          height: 25rem;
          border-radius: 1.6rem;
        }
        & > div:nth-of-type(2) {
          position: absolute;
          background-color: var(--dark);
          bottom: 0;
          right: 0;
          height: 10rem;
          width: 90%;
          border-top-left-radius: 1.6rem;
          padding: 2.4rem;
          h6 {
            color: white !important;
          }
        }
      }
    }
  }
}
