@media(min-width: 35em){

.quickcontact {
  background-color: var(--dark);
  & > div {
    display: flex;
    & > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      & > div {
        padding-right: 4rem;
        border-right: var(--medium) solid 0.3rem;
        display: flex;
        gap: 2.4rem;
        align-items: center;
        svg {
          font-size: 8rem;
          color: white;
        }
        h3,
        h6 {
          color: white;
        }
      }
    }
    & > div:nth-of-type(2) {
      padding-inline: 4rem;
      display: flex;
      align-items: center;
      h3 {
        color: white;
      }
    }
    & > div:nth-of-type(3) {
      padding: 4rem;
    }
  }
}

}

@media(max-width: 35em){
.quickcontact {
  background-color: var(--dark);
  padding: 2.4rem;
  & > div {

    & > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      & > div {
        padding-right: 4rem;
        border-right: var(--medium) solid 0.3rem;
        display: flex;
        gap: 2.4rem;
        align-items: center;
        svg {
          font-size: 8rem;
          color: white;
        }
        h3,
        h6 {
          color: white;
        }
      }
    }
    & > div:nth-of-type(2) {

   
      h3 {
        color: white;
      }
      margin-block: 2.4rem;
    }

  }
}

}