:root {
  font-size: 62.5%;
  --light: white;
  --dark: #00194c;
  --medium: #0049dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--dark);
}
p {
  color: var(--dark);
  opacity: 0.7;
}

h1 {
  font-size: 6.8rem;
  line-height: 8.1rem;
}
h2 {
  font-size: 4.2rem;
  line-height: 5rem;
}
h3 {
  font-size: 2.6rem;
  line-height: 3.1rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
