@media (min-width: 35em) {
  .services {
    padding-block: 5.6rem;
    & > div:nth-of-type(1) {
      text-align: center;
      max-width: 70rem;
      margin-inline: auto;
      h2 {
        margin-top: 1.6rem;
        margin-bottom: 2.4rem;
      }
      margin-bottom: 8rem;
    }
    & > div:nth-of-type(2) {
      display: flex;
      gap: 2.4rem;
      background-image: linear-gradient(to top, #efefef, white 70%);
      padding: 3.2rem;
      flex-wrap: wrap;
      & > div {
        flex: 40rem 1 1;
      }
    }
  }

  .service-box {
    display: flex;
    & > div:nth-of-type(1) {
      flex-basis: 10rem;
      flex-grow: 2;
    }
    & > div:nth-of-type(2) {
      flex-basis: 10rem;
      flex-grow: 5;
      background-color: white;
      padding: 2.4rem;
      h3 {
        margin-bottom: 2.4rem;
      }
    }
  }
}

@media (max-width: 35em) {
  .services {
    padding: 2.4rem;
    & > div:nth-of-type(1) {
      h2 {
        margin-top: 1.6rem;
        margin-bottom: 2.4rem;
      }
      margin-bottom: 8rem;
    }
    & > div:nth-of-type(2) {
      background-color: #efefef;
      padding: 3.2rem;
    }
  }

  .service-box {
 
    margin-bottom: 8rem;
    & > div:nth-of-type(1) {
      height: 25rem;
      overflow: hidden;
    }
    & > div:nth-of-type(2) {

      background-color: white;
      padding: 2.4rem;
      h3 {
        margin-bottom: 2.4rem;
      }
    }
  }
}
