@media (min-width: 35em) {
  .whychooseus {
    padding-block: 5.6rem;
    & > div {
      & > div:nth-of-type(1) {
        width: 70rem;
        margin-inline: auto;
        margin-bottom: 8rem;
        text-align: center;
        color: white;
        h2 {
          margin-top: 1.6rem;
          margin-bottom: 4rem;
          color: var(--dark);
        }
        h6 {
          color: var(--dark);
          opacity: 0.7;
        }
      }
      & > div:nth-of-type(2) {
        margin-inline: auto;
        display: flex;
        gap: 4rem;
        flex-wrap: wrap;
        & > div {
          flex: 40rem 1 1;
          display: flex;
          gap: 2.4rem;
          & > div:nth-of-type(1) {
            svg {
              font-size: 6.4rem;
              color: var(--dark);
            }
          }
          & > div:nth-of-type(2) {
            h3 {
              margin-bottom: 1.6rem;
              color: var(--dark);
            }
          }
        }
      }
    }
  }
}





@media (max-width: 35em) {
  .whychooseus {
    padding-block: 5.6rem;
    padding-inline: 2.4rem;
    & > div {
      & > div:nth-of-type(1) {
        padding: 2.4rem;
        margin-inline: auto;
        margin-bottom: 8rem;
 
        color: white;
        h2 {
          margin-top: 1.6rem;
          margin-bottom: 4rem;
          color: var(--dark);
        }
        h6 {
          color: var(--dark);
          opacity: 0.7;
        }
      }
      & > div:nth-of-type(2) {
        margin-inline: auto;
    
        & > div {
          margin-bottom: 8rem;
          & > div:nth-of-type(1) {
            svg {
              font-size: 6.4rem;
              color: var(--dark);
            }
            margin-bottom: 1.6rem;
          }
          & > div:nth-of-type(2) {
            h3 {
              margin-bottom: 1.6rem;
              color: var(--dark);
            }
          }
        }
      }
    }
  }
}
